{% extends 'layout.html.twig' %}

{% block content %}

<h1>Books list</h1>
    {% for book in books %}
        {{ book.getTitle }} {{ book.getPrice }} | <a href="/index.php?controller=Book&amp;action=show&amp;id={{ book.getId }}">Details</a> <br>
    {% endfor %}
{% endblock %}